* {
  padding: 0;
  margin: 0;
}

nav > a {
  text-decoration: none;
}

.header {
  background-color: beige;
  display: flex;
  height: 80px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 40px;
}

.header_right {
  display: flex;
  gap: 20px;
}

.header > nav {
  text-decoration: none;
}

p {
  opacity: 0.9;
  color: black;
  filter: brightness(100%);
}

.home {
  /* background-image: url("../../images/backgroundImage.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
  /* padding: 80px; */
  filter: brightness(100%);
  min-height: 100vh;
}

.home h1 {
  color: black;
}

.about {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 100px;
}

.about p {
  color: black;
  font-size: 20px;
}

.home_button {
  width: 600px;
  height: 30px;
  font-size: medium;
  border-radius: 5px;
  background-color: antiquewhite;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 0;
  margin-top: 20px;
}

.home_button:hover {
  background-color: grey;
}

.footer {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.footer h3 {
  color: white;
}

.van_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.vans {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.vans_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.van_button_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}

button {
  border: none;
  background-color: bisque;
  width: 100px;
  height: 30px;
}

.button-selected {
  border: none;
  background-color: darksalmon;
  color: white;
  width: 100px;
  height: 30px;
}

.van_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  min-height: 100vh;
  margin: 30px;
}

.host-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.host-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.nav_selected {
  color: blue;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.host-vans {
  border: 1px solid black;
  border-radius: 10px;
  min-height: 100vh;
  width: 400px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
}

.host-vans img {
  height: 90px;
  margin-right: 10px;
}

.host-vans-detail {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  min-height: 100vh;
}

.host-vans-detail img {
  height: 130px;
}

.host-vans-detail-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-left: 10px;
}

.sticker {
  background-color: tomato;
  width: 90px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
}

.van_links {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}

.notFound-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFound {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 400px;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
}

.notFound-button {
  background-color: black;
  color: white;
  width: 400px;
  height: 50px;
  border-radius: 8px;
  font-weight: bold;
  font-size: large;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login h1 {
  margin-bottom: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login input {
  width: 300px;
  height: 25px;
}

.login button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
}

.login h2 {
  color: red;
}

.vans_origin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin: 40px;
  min-height: 100vh;
}

.van-type-inactive {
  background-color: whitesmoke;
  color: grey;
}
