* {
  background-color: white; 
}

nav > a {
  text-decoration: none;
}

.header {
  background-color: beige;
  display: flex;
  height: 80px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.header_right {
  display: flex;
  gap: 20px;  
}

.header > nav {
  text-decoration: none;
}

p {
  opacity: 0.6;
  color: white;
  background-color: black;
  filter: brightness(100%);  
}

.home {
  background-image: url('../../images/backgroundImage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  filter: brightness(50%);      
}

.home_button {
  width: 600px;
  height: 30px;
  font-size: medium;
  border-radius: 5px;
}

.home_button:hover {
  background-color: grey;
}

.footer {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.van_card {  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.vans {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  
}

.vans_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.van_button_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

button {
  border: none;
  background-color: bisque;
  width: 100px;
  height: 30px;
}

.van_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.host-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.host-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.nav_selected {
  color: blue;  
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}